<head>
    <style>
    .demo div {
        float: left;
        clear: none;
    }

    .scroll textarea{
        overflow-y:scroll;
    }
    </style>
    </head>
    <body>
    <div class="demo">
         <div>
             <table>
                 <tr>
                     <textarea placeholder="@user" name="" id="" cols="30" rows="2"  ></textarea>
                 </tr>
                 <tr>
                        <textarea placeholder="¿Que piensas?" name="" id="" cols="30" rows="10" maxlength="279"></textarea>
                    </tr>
             </table>
        </div>
        <div>
            <table>
                <tr><button style="height:50px;width:150px">Publicar</button></tr>
                <tr><button style="height:50px;width:150px">Obtener tweets</button></tr>
            </table>
        </div>
    </div>
    <div>
        <textarea name="" id="" cols="40" rows="21"></textarea>
    </div>
    </body>